
  <label for="" style="
                width: 100%;
                display: grid;
                justify-content: center;
                font-family: system-ui;
                text-align: left;
                color:gray
            ">
                 {{yield}}
                    <input placeholder='Introduce tu{{@placeholder}}'type={{@type}} name={{@name}} max={{@min}} required>
                </label>