{{yield}}
  {{!-- INVOICE --}}
  <dialog id="factura" style="
                        margin: auto;
                        width: 80%;
                        height: 90%;
                        ">
    <h1 style="font-size: 4em; font-style: italic; padding: 1vw;">C.I.D.E</h1>
    <div class="info factura">

  
      <div class="datos">
        <p>Usuario: {{@invoiceData.user}}</p>
        <p>Fecha emision: {{@invoiceData.fecha}} </p>
        <p>Numero de factura: {{@invoiceData.numeroFactura}}</p>
      </div>

    </div>

    <table class="tableDialog">
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>TOTAL</th>
      </tr>
   {{#each @invoiceData.products as | product|}}
      <tr>
      <td>{{product.nombre}}</td>
      <td>{{product.price}}</td>
      <td>{{product.cant}}</td>
      <td>{{product.total}}</td>
      </tr>
  {{/each}}
    </table>

    <div class="facturaTotal">

      <div class="divTotalFactura">
        <h2>Total: </h2>
      </div>

      <div class="divTotalFactura">
        <h2>{{@invoiceData.total}}€</h2>
      </div>
    </div>

    <hr />

    <div style="text-align: center;" class="footerFactura">
      <h1>Gracias por su confianza</h1>
    </div>
  </dialog>