
<body style="
display: flex;
height: 100%;
width: 100%;
margin: 0;
/* align-content: center; */
justify-content: center;
align-items: center;
">
  {{!--IMAGEN FONDO --}}
  <img src="fondos-login/fondoLOGIN.png" alt="" style="
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    ">
  {{!--DIV FOTO-FORMULARIO --}}
  <div style="display: flex; width: 50%; height: 70%;  position: absolute; border-radius: 30px ">
    <div class="loginFormIMG" style="width: 30%; height: 100%;">

      {{!-- IMAGEN FORMULARIO --}}
      <img class="imgInForm" style="
            display: block;
            width: 115%;
            height: 100%;
            border-radius: 30px 0px 0px 30px;
            object-fit: cover;
        " alt="" src="fondos-login/fondoFormLogin.png">

    </div>


    {{!--FORMULARIO --}}
    <div class="divFormLogin" style="
        background-color: white;
        width: 70%;
        height: 100%;
        border-radius: 30px">

      <form id={{@idForm}} style="
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        /* align-content: center; */
        align-items: center;
        ">
        {{!--TITULO --}}
        <div style="
                    width: 100%;
                    padding: 1rem;
                    margin-top: 3rem
                ">
          <h1 style="
                        color: black;
                        text-align: center;
                        font-family: system-ui;">
            {{@title}}
          </h1>
        </div>
        {{yield}}

        {{!--BOTTON --}}
        <button type="button" onclick={{@onHandleClick}}>
          {{@buttonText}}
        </button>

        {{!-- HAS OLVIDADO LA CONTRASEÑA?--}}
        <p style="
                    font-family: system-ui;
                    font-size: small;
                    width: 70%;
                    margin-top: 5px;
                ">
            {{@askText}}
          <a href={{@hrefAux}} style="
                    color: green;
                    font-style: italic;">
            {{@routeText}}
          </a>
        </p>

      </form>


    </div>
  </div>

</body>