{{yield}}
<table class="table"
        style="
    height: 80%;
    width: 100%;
    text-align: center;
    background-color: white;
    font-family: system-ui;
    table-layout: fixed;
    border-collapse: collapse;
    ">
                {{!-- ESTUDIANTES --}}
                {{#if (eq @route 'Estudiantes')}}
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Fecha de Nacimiento</th>
                    <th>DNI</th>
                    <th>Contacto Principal</th>
                    <th>DNI de Contacto</th>
                    <th>Teléfono de Contacto</th>
                </tr>
            </thead>
            <tbody>
                {{#each @elements as | element|}}
                <tr>
                    <td>{{element.name}}</td>
                    <td>{{element.apellidos}}</td>
                    <td>{{element.direccion}}</td>
                    <td>{{element.fechaNacimiento}}</td>
                    <td>{{element.dni}}</td>
                    <td>{{element.telefono}}</td>
                    <td>{{element.dniContacto}}</td>
                    <td>{{element.telContacto}}</td>
                </tr>
                {{/each}}
            </tbody>
                {{/if}}

                    {{!-- COMANDAS --}}
               {{#if (eq @route 'Facturacion')}}
            <thead>
                <tr>
                    <th>N.Factura</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    {{#if (eq @userType 'Usuario')}}
                    <th>👁️</th>
                    {{else}}
                    <th>📖</th>
                     {{/if}}

                </tr>
            </thead>
            <tbody>
                {{#each @elements as | element|}}
                <tr>
                    <td>{{element.codigoFactura}}</td>
                    <td>{{element.user}}</td>
                    <td>{{element.fecha}}</td>
                    <td>{{element.status}}</td>
                    {{#if (eq @userType 'Usuario')}}
                    <td onclick={{@onclickUser}}>🔍</td>
                    {{else}}
                    <td>
                    <select class="select-status" name="status"  id="" onchange={{@onChangeStatusAdmin}}>
                      {{#if (eq element.status 'Aprobado')}}
                      <option value="Aprobado">🟢</option>
                      <option value="Pendiente">🟠</option>
                      <option value="Cancelado">❌</option>
                      {{/if}}
                      {{#if (eq element.status 'Pendiente')}}
                          <option value="Pendiente">🟠</option>
                          <option value="Aprobado">🟢</option>
                          <option value="Cancelado">❌</option>
                      {{/if}}
                      {{#if (eq element.status 'Cancelado')}}
                        <option value="Cancelado">❌</option>
                        <option value="Pendiente">🟠</option>
                        <option value="Aprobado">🟢</option>
                      {{/if}}

                    </select>
                    </td>
                     {{/if}}
                </tr>
                {{/each}}
            </tbody>
                {{/if}}









            {{!-- INVOICE --}}
              <dialog id="factura" style="
                      margin: auto;
                      width: 80%;
                      height: 90%;
                      ">
                <h1 style="font-size: 4em; font-style: italic; padding: 1vw;">Axis Data </h1>
                <div class="info factura">

                  <div class="datos factura">
                    <p>Direccion:</p>
                    <p>Ciudad y pais:</p>
                    <p>CIF/NIF:</p>
                    <p>Telofono:</p>
                    <p>Mail:</p>
                  </div>
                  <div class="datos factura derecha">
                    <p>Fecha emision:</p>
                    <p>Numero de factura: {{this.invoiceData.booking_id}}</p>
                  </div>

                </div>

                <table class="tableDialog">
                  <tr>
                    <th>Booking id</th>
                    <th>Hotel id</th>
                    <th>Booking Date</th>
                    <th>Description</th>
                    <th>PAX</th>
                  </tr>
                  <tr>
                    <td>{{this.invoiceData.booking_id}}</td>
                    <td>{{this.invoiceData.hotelId}}</td>
                    <td>{{this.invoiceData.bookingDate}}</td>
                    <td>{{this.invoiceData.description}}</td>
                    <td>{{this.invoiceData.pax}}</td>
                  </tr>
                </table>


                <div class="facturaTotal">

                  <div class="divTotalFactura">
                    <h2>Total: </h2>
                  </div>

                  <div class="divTotalFactura">
                    <h2>350€</h2>
                  </div>
                </div>

                <hr />

                <div style="text-align: center;" class="footerFactura">
                  <h1>Gracias por su confianza</h1>
                </div>
              </dialog>


        </table>