{{yield}}
<table class="table" 
        style="
    height: 80%;
    width: 100%;
    text-align: center;
    background-color: white;
    font-family: system-ui;
    table-layout: fixed;
    border-collapse: collapse;
    ">
        <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Fecha de Nacimiento</th>
                    <th>DNI</th>
                    <th>Contacto Principal</th>
                    <th>DNI de Contacto</th>
                    <th>Teléfono de Contacto</th>
                </tr>
            </thead>
            <tbody>
                {{#each @elements as | element|}}
                <tr>
                    <td>{{element.name}}</td>
                    <td>{{element.apellidos}}</td>
                    <td>{{element.direccion}}</td>
                    <td>{{element.fechaNacimiento}}</td>
                    <td>{{element.dni}}</td>
                    <td>{{element.telefono}}</td>
                    <td>{{element.dniContacto}}</td>
                    <td>{{element.telContacto}}</td>
                </tr>
                {{/each}}

            
            </tbody>
        </table> 