{{page-title "Facturacion"}}
<Layout
 @logOut={{this.logOut}}
 @user={{this.login.userType}}
 @route="Facturacion"

  >
    <h1 style="text-align: left;padding: 10px; font-size: xxx-large;">Facturacion</h1>
    <Tabla
    @elements={{this.comandas.comandasList}}
    @route='Facturacion'
    @userType={{this.login.userType}}
    @onclickUser={{this.onClickUserShowInvoice}}
    @onChangeStatusAdmin={{this.onChangeStatusAdmin}}
    @invoiceData={{this.invoiceData}}
    ></Tabla>


</Layout>